@import "mixin";
@import "varieble";

body{
font-family: "Roboto", "sans-serif";
}

.wrapper{
    margin: 0 10px;
}

@media screen and (min-width: $tab){
    .wrapper{
        margin: 0px;
    }
}

.container{
    max-width: 1170px;
    @include margin-center;
}

a{
    text-decoration: none;
}